@media screen and (max-width:1199px){

}

@media screen and (max-width:767px){
.wrap-in {
    display: grid;
      grid-template-columns: .25fr 1fr;
  grid-gap:1rem;
  //grid-auto-rows: minmax(300px, auto);
  grid-template-areas: "m1 m2";
  align-items: center;
    >div{
margin:0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
    }
    .m1{
        text-align: center;
        display: grid;
        align-items:center;

    }
    .m2{
         display: grid;
        align-items:center;
 .navbar-brand{
     width:50%;
 }
        .img-in {
            width:100%;
            height:auto;
            
            img{
                width:100%;
                height:100%;
            }
        }
    }
}

.section-four .wrapper>div h2 {
    font-size: 1.5rem;
}
.section-four .wrapper>div h4 {
    text-transform: capitalize;
    font-size: 1rem;
}

}


@media screen and (min-device-width: 767px) and (orientation: landscape) {


}

@media screen and (max-width:480px){

}

@media screen and (min-width:481px) and (max-width:767px){


}

@media screen and (min-width:481px) and (max-width:1199px){
.wrap-in .m2 .navbar-brand {
    width: 30%;
}

.four-box-sec .wrapper {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: minmax(190px,auto);
    grid-template-areas:
        "b1 b2" "b3 b4";
}
.section-three .wrapper {
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
}
.section-four .wrapper {
    display: grid;
    grid-template-columns: repeat(1,100%);
    grid-gap: 0rem;
    grid-auto-rows: minmax(280px,auto);
}
.section-five .wrapper .content-in-left {
    width: 100%;
    top: 0;
}
.sponsors-sec .wrapper {
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1rem;
}
.section-three .wrapper .b01 h3 {
    padding: 1rem 0rem;
    margin: 0rem;
    font-family: 'Playfair Display',serif;
    font-weight: 900;
    font-size: .70rem;
    color: #000;
    z-index: 222;
    position: relative;
}

.slider-sec .carousel-inner {
    width: 100%;
    height: 75vh;
}
}

@media screen and (min-width:768px) and (max-width:991px){
footer .wrapper>div h3 {

    font-size: .80rem;

}
footer .wrapper .b2 ul li a {
    font-size: .70rem;
    color: #fff;
    position: relative;
    padding-left: 18px;
}
.news-bg .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    align-items: center;
}
.news-bg .wrapper>div {
    border-radius: 0;
    padding: 0rem;
    margin: 0 auto;
}
.section-five .wrapper .content-in-left {
    position: absolute;
    bottom: auto;
    left: 2%;
    right: auto;
    top: 0%;

    width: 100%;
}
.section-five .wrapper .content-in-right {
    position: absolute;
    bottom: auto;
    left: 2%;
    right: auto;
    top: 0%;
    width: 100%;
}
.about-box-sec .wrapper .b2 .read-more {
    border: 0 solid #ecb236;
    border-radius: 0;
    display: inline-block;
    width: 50%;
    background-color: #ecb235;
    color: #fff!important;
    cursor: pointer;
    padding: 10px;
}
.about-box-sec .wrapper .b2 h4 {
    margin: 0rem 0rem 1rem;
    padding: 0rem;
    font-size: .90rem;
    font-family: 'Playfair Display',serif;
    color: #8f1819;
    line-height: 22px;
}
.about-box-sec .wrapper .b2 p {
    margin: 0rem 0rem 2rem;
    padding: 0rem;
    font-size: .7rem;
    color: #565656;
}
.four-box-sec .wrapper>div h1 {
    font-size: .80rem;
    margin: 10px 0 10px;

}
header .btm-header nav .navbar-nav .nav-item .nav-link {
    font-size: 10px;

    padding: 0.5rem;
}
header .btm-header nav .menu-wrapper .m2 .img-in {
    width: 100px;
    height: auto;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    bottom: -25px;
}
.four-box-sec .wrapper>div p {
    font-size: .70rem;

}
.section-four .wrapper>div h2 {
    font-size: 1.5rem;

}
.section-three .wrapper .b01 h3 {

    font-size: .70rem;

}
.section-three .wrapper>div {

    padding: 0.4rem;

}
.section-blog .blog-in .blog-txt h3 {

    font-size: 1rem;

}
.section-four .wrapper {
    grid-auto-rows: minmax(300px,auto);
}
.section-five .wrapper>div .content-in {
     height: auto;
}
}

@media screen and (min-width:1200px){

}
